.Navbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: relative;

    z-index: 3;

    &__brand-name {
        font-family: $secondary-font;
        font-size: 23px;
        color: $font-color;
        font-weight: 400;
        // text-transform: uppercase;
        margin: 10px 30px;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__link {
        display: block;
        margin: 10px 20px;
        border: 0;
        font-family: $secondary-font;
        font-size: 18px;
        color: $font-color;
        text-decoration: none;
        background-color: transparent;
        transition: .4s;

        &--socialmedia {
            display: inline-block;
            margin: 0px 15px;
            font-size: 30px;

        }

        &.active {
            color: $font-color-active;
            font-weight: 500;
        }

        &:hover {
            color: $font-color-hover;
            ;
        }

        &.active:hover {
            color: $font-color-active;
        }
    }

    &__socialmedia {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin: 0 15px;
    }


}