$main-font: 'Roboto',
sans-serif;
$secondary-font: 'Montserrat',
sans-serif;


$main-margin: 20px 0;
$background-color: rgb(26, 26, 81);


$main-color: rgb(63, 135, 136);

$font-color: rgb(196, 196, 196);
$font-color-active: rgb(0, 169, 221);
$font-color-hover: rgb(255, 255, 255);