@import 'variables';


#root {
    height: 100%;
}

$enter-margin: 25px 0;

.wrapper {
    transition: .1s;
    color: white;
    font-family: $secondary-font;
    font-size: 70px;
    background-color: darkgreen;
    height: 100%;
    width: 100%;
}

.Enter {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        margin: $enter-margin;
        font-weight: lighter;
    }

    &__subtitle {
        font-weight: 100;
        margin: $enter-margin;
        font-size: .5em;
    }

    &__text {
        font-weight: 100;
        margin: $enter-margin;
        font-size: .25em;
    }

    &__button {
        margin: $enter-margin;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $secondary-font;
        color: white;
        padding: 10px 30px;
        font-size: 30px;
        position: relative;
        bottom: 0;
        left: 50%;
        background-color: transparent;
        border: 1px solid white;

    }
}